.container {
    max-width: 1200px
}

.simpleslide100-parent {
    position: relative;
    z-index: 1
}

.simpleslide100 {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.simpleslide100-item {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.cl0 {
    color: #fff
}

.cl1 {
    color: #9c9a9a
}

.s2-txt1 {
    font-size: 15px;
    color: #000;
    line-height: 1.2
}

.m2-txt1 {
    font-size: 24px;
    color: #000;
    line-height: 1.2
}

.l1-txt1 {
    font-size: 42px;
    color: #000;
    line-height: 1.1
}

.size1 {
    width: 100%;
    min-height: 100vh
}

.size2 {
    width: 90px;
    height: 80px
}

.size3 {
    width: 36px;
    height: 36px
}

.wsize1 {
    width: 50%
}

.wsize2 {
    max-width: 100%
}

.bg0 {
    background-color: #fff
}

.bg-img1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.placeholder0::-webkit-input-placeholder {
    color: #999
}

.placeholder0:-moz-placeholder {
    color: #999
}

.placeholder0::-moz-placeholder {
    color: #999
}

.placeholder0:-ms-input-placeholder {
    color: #999
}

.overlay1 {
    position: relative;
    z-index: 1
}

.overlay1::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5)
}

.wrappic1 {
    display: block
}

.wrappic1 img {
    max-width: 100%
}

.how-btn1 {
    padding: 0 15px;
    background-color: #fff;
    border-radius: 25px
}

.how-btn1:hover {
    background-color: #555;
    color: #fff
}

.how-social {
    color: #fff;
    font-size: 22px;
    background-color: #ccc;
    border-radius: 50%
}

.how-social:hover {
    background-color: #333;
    color: #fff
}

.focus-in0:focus::-webkit-input-placeholder {
    color: transparent
}

.focus-in0:focus:-moz-placeholder {
    color: transparent
}

.focus-in0:focus::-moz-placeholder {
    color: transparent
}

.focus-in0:focus:-ms-input-placeholder {
    color: transparent
}

.hov-cl0:hover {
    color: #fff
}

.hov-bg0:hover {
    background-color: #fff
}

.hov1:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px)
}

@media (max-width:1200px) {
    .m-0-xl {
        margin: 0
    }
    .m-lr-0-xl {
        margin-left: 0;
        margin-right: 0
    }
    .m-lr-15-xl {
        margin-left: 15px;
        margin-right: 15px
    }
    .m-l-0-xl {
        margin-left: 0
    }
    .m-r-0-xl {
        margin-right: 0
    }
    .m-l-15-xl {
        margin-left: 15px
    }
    .m-r-15-xl {
        margin-right: 15px
    }
    .p-0-xl {
        padding: 0
    }
    .p-lr-0-xl {
        padding-left: 0;
        padding-right: 0
    }
    .p-lr-15-xl {
        padding-left: 15px;
        padding-right: 15px
    }
    .p-l-0-xl {
        padding-left: 0
    }
    .p-r-0-xl {
        padding-right: 0
    }
    .p-l-15-xl {
        padding-left: 15px
    }
    .p-r-15-xl {
        padding-right: 15px
    }
    .w-full-xl {
        width: 100%
    }
    .respon1 {
        width: 60%
    }
    .respon2 {
        width: 40%
    }
}

@media (max-width:992px) {
    .dis-none-lg {
        display: none
    }
    .m-0-lg {
        margin: 0
    }
    .m-lr-0-lg {
        margin-left: 0;
        margin-right: 0
    }
    .m-lr-15-lg {
        margin-left: 15px;
        margin-right: 15px
    }
    .m-l-0-lg {
        margin-left: 0
    }
    .m-r-0-lg {
        margin-right: 0
    }
    .m-l-15-lg {
        margin-left: 15px
    }
    .m-r-15-lg {
        margin-right: 15px
    }
    .p-0-lg {
        padding: 0
    }
    .p-lr-0-lg {
        padding-left: 0;
        padding-right: 0
    }
    .p-lr-15-lg {
        padding-left: 15px;
        padding-right: 15px
    }
    .p-l-0-lg {
        padding-left: 0
    }
    .p-r-0-lg {
        padding-right: 0
    }
    .p-l-15-lg {
        padding-left: 15px
    }
    .p-r-15-lg {
        padding-right: 15px
    }
    .w-full-lg {
        width: 100%
    }
    .respon1 {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px
    }
    .respon2 {
        display: none;
        width: 100%;
        height: 500px
    }
}

@media (max-width:768px) {
    .m-0-md {
        margin: 0
    }
    .m-lr-0-md {
        margin-left: 0;
        margin-right: 0
    }
    .m-lr-15-md {
        margin-left: 15px;
        margin-right: 15px
    }
    .m-l-0-md {
        margin-left: 0
    }
    .m-r-0-md {
        margin-right: 0
    }
    .m-l-15-md {
        margin-left: 15px
    }
    .m-r-15-md {
        margin-right: 15px
    }
    .p-0-md {
        padding: 0
    }
    .p-lr-0-md {
        padding-left: 0;
        padding-right: 0
    }
    .p-lr-15-md {
        padding-left: 15px;
        padding-right: 15px
    }
    .p-l-0-md {
        padding-left: 0
    }
    .p-r-0-md {
        padding-right: 0
    }
    .p-l-15-md {
        padding-left: 15px
    }
    .p-r-15-md {
        padding-right: 15px
    }
    .w-full-md {
        width: 100%
    }
}

@media (max-width:576px) {
    .dis-none-sm {
        display: none
    }
    .m-0-sm {
        margin: 0
    }
    .m-lr-0-sm {
        margin-left: 0;
        margin-right: 0
    }
    .m-lr-15-sm {
        margin-left: 15px;
        margin-right: 15px
    }
    .m-l-0-sm {
        margin-left: 0
    }
    .m-r-0-sm {
        margin-right: 0
    }
    .m-l-15-sm {
        margin-left: 15px
    }
    .m-r-15-sm {
        margin-right: 15px
    }
    .p-0-sm {
        padding: 0
    }
    .p-lr-0-sm {
        padding-left: 0;
        padding-right: 0
    }
    .p-lr-15-sm {
        padding-left: 15px;
        padding-right: 15px
    }
    .p-l-0-sm {
        padding-left: 0
    }
    .p-r-0-sm {
        padding-right: 0
    }
    .p-l-15-sm {
        padding-left: 15px
    }
    .p-r-15-sm {
        padding-right: 15px
    }
    .w-full-sm {
        width: 100%
    }
    .respon3 {
        font-size: 60px
    }
}

@media (max-width:480px) {
    .m-0-ssm {
        margin: 0
    }
    .m-lr-0-ssm {
        margin-left: 0;
        margin-right: 0
    }
    .m-lr-15-ssm {
        margin-left: 15px;
        margin-right: 15px
    }
    .m-l-0-ssm {
        margin-left: 0
    }
    .m-r-0-ssm {
        margin-right: 0
    }
    .m-l-15-ssm {
        margin-left: 15px
    }
    .m-r-15-ssm {
        margin-right: 15px
    }
    .p-0-ssm {
        padding: 0
    }
    .p-lr-0-ssm {
        padding-left: 0;
        padding-right: 0
    }
    .p-lr-15-ssm {
        padding-left: 15px;
        padding-right: 15px
    }
    .p-l-0-ssm {
        padding-left: 0
    }
    .p-r-0-ssm {
        padding-right: 0
    }
    .p-l-15-ssm {
        padding-left: 15px
    }
    .p-r-15-ssm {
        padding-right: 15px
    }
    .w-full-ssm {
        width: 100%
    }
}
